.main {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
  padding: 0 70px;
  margin: 0;
  width: 100%;
  max-width: 1300px;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
  background-color: #202020;
}

@media screen and (max-width: 1000px) {
  .main {
    padding-left: calc(70px - (1000px - 100vw)/10);
    padding-right: calc(70px - (1000px - 100vw)/10);
  }
}

@media screen and (max-width: 800px) {
  .main {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 500px) {
  .main {
    padding-left: calc(50px - (500px - 100vw)/5.5);
    padding-right: calc(50px - (500px - 100vw)/5.5);
  }
}