.header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
  margin: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

.header__nav {
  display: flex;
  flex-direction: row;
  margin-left: 62px;
}

.header__link {
  margin: 1px;
  padding: 7px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  background-color: transparent;
}


.header__link:hover {
  background-color: #3ddc84;
  color: black;
}

.header__link_type_menu {
  display: none;    
}

.header__link_type_unsigned {
  padding: 7px 20px;
  margin-left: 5px;
}

.header__dashes {
  height: 23px;
  width: 28px;
}

@media screen and (max-width: 1000px) {
  .header {
    padding-left: calc(70px - (1000px - 100vw)/5);
    padding-right: calc(70px - (1000px - 100vw)/5);
  }

  .header__link_type_unsigned {
    font-size: 13px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    padding-left: calc(30px - (800px - 100vw)/30);
    padding-right: calc(30px - (800px - 100vw)/30);
  }

  .header__link_type_center, .header__link_type_profile {
    display: none;     
  }

  .header__link_type_menu {
    display: block;   
  }

  .header__link_type_unsigned {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .header__dashes {
    height: calc(28px - (50px - 10vw)/6);
    width: calc(28px - (50px - 10vw)/3);
  }

  .header__link_type_unsigned {
    padding-left: calc(20px - (500px - 100vw)/20);
    padding-right: calc(20px - (500px - 100vw)/20);
    font-size: 11px;
  }
}

@media screen and (max-width: 320px) {
  .header__dashes {
    height: 20px;
    width: 22px;
  }

  .header__link_type_unsigned {
    font-size: 10px;
  }
}